{% extends 'base.html.twig' %}

{% block title %}Find Path{% endblock %}

{% block body %}
    <h1>Find Path</h1>

    {{ include('algo_test/_form.html.twig') }}

    <a href="{{ path('app_algo_new') }}">back to list</a>
{% endblock %}
