{% extends 'base.html.twig' %}

{% block title %}Get Path{% endblock %}

{% block body %}
    <h1>Chemin trouvé</h1>
    
    {% if path is not empty %}
        <div class="path-container">
            <ol>
                {% for step in path %}
                    <li>
                        <strong>{{ step.location }}</strong>
                        {% if step.instruction %}
                            <p>{{ step.instruction }}</p>
                        {% endif %}
                        {% if step.image %}
                            <img src="{{ asset('images/' ~ step.image) }}">
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <p>Aucun chemin trouvé.</p>
    {% endif %}
    
    <a href="{{ path('app_algo_new') }}" class="btn btn-primary mt-3">Chercher un autre chemin</a>
{% endblock %}
